* {
  margin: 0;
  padding: 0;
}

body {
  /*padding: 40px 100px;*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: #06114f;
  font-family: Roboto, sans-serif;
  color: #fff;
}

header {
  background-color: rgba(120, 44, 241, 0.5019607843);
  display: flex;
  justify-content: center;
  align-items: center;
  /*max-width: 1200px;*/
  padding: 40px 250px;
  gap: 10px;
}
header img {
  max-width: 300px;
  min-height: auto;
  aspect-ratio: 1/1;
}
header .about-me {
  background-color: #06114f;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px 80px;
  box-shadow: 14px 12px 20px #9567e0;
  text-align: justify;
  font-size: 20px;
  border-radius: 2%;
}
header .about-me h1 {
  font-family: Oxygen, sans-serif;
  text-decoration: underline;
}
header .about-me .links {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}
header .about-me .links i {
  font-size: 32px;
}
header .about-me span {
  font-weight: bold;
}

img {
  border-radius: 2%;
}

a, a:visited {
  color: rgb(255, 255, 255);
  text-decoration: none;
  transition: transform 0.3s ease-in-out;
}

a:hover {
  transform: scale(1.2);
}

main {
  padding: 40px 100px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  transition: transform 1s ease-in-out;
}
main h1 {
  font-family: Oxygen, sans-serif;
}
main .tech {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}
main .tech .list {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  font-size: 48px;
}
main .projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}
main .projects .project {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 300px;
  height: auto;
  background-color: rgba(120, 44, 241, 0.5019607843);
  box-shadow: 1px 1px 20px #9567e0;
  border-radius: 2%;
  padding: 20px;
}
main .projects .project .project-img {
  max-width: 300px;
  height: 140px;
}
main .projects .project .project-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px;
  gap: 10px;
}
main .projects .project .project-info .name {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .projects .project .project-info .name h3 {
  font-family: Oxygen, sans-serif;
  font-size: 28px;
}
main .projects .project .project-info .name .project-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
main .projects .project .project-info .name .project-links i {
  font-size: 28px;
}
main .projects .project .project-info .name .project-links img {
  width: 28px;
  height: 32px;
  filter: invert(95%) sepia(0%) saturate(7500%) hue-rotate(325deg) brightness(106%) contrast(100%);
}
main .projects .project .project-info .description {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: justify;
  font-size: 16px;
}

footer {
  padding: 20px 100px;
  background-color: rgba(120, 44, 241, 0.5019607843);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 250px;
}
footer .footer-img {
  max-width: 400px;
  min-height: auto;
  box-shadow: 8px 11px 17px #9567e0;
}
footer .info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  gap: 10px;
}
footer .info h1 {
  font-family: Oxygen, sans-serif;
  text-decoration: underline;
  font-size: 32px;
}
footer .info p {
  font-size: 20px;
}
footer .info .email {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 4px;
}
footer .info .email img {
  max-width: 32px;
  min-height: auto;
  filter: invert(95%) sepia(0%) saturate(7500%) hue-rotate(325deg) brightness(106%) contrast(100%);
}
footer .info .contact-links {
  margin-top: 40px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
}
footer .info .contact-links i {
  font-size: 48px;
}

@media screen and (max-width: 1500px) {
  header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 200px;
  }
}
@media screen and (max-width: 1200px) {
  header {
    padding: 40px 150px;
  }
  header .about-me {
    padding: 10px 40px;
    font-size: 18px;
  }
  header .about-me h1 {
    font-size: 22px;
  }
  main .projects {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 1000px) {
  footer {
    padding: 20px 80px;
    gap: 150px;
  }
  footer .footer-img {
    max-width: 300px;
    min-height: auto;
  }
}
@media screen and (max-width: 800px) {
  header {
    padding: 10px 40px;
  }
  header img {
    max-width: 250px;
    min-height: auto;
  }
  header .about-me {
    padding: 10px 40px;
    font-size: 16px;
  }
  header .about-me h1 {
    font-size: 20px;
  }
  main h1 {
    font-size: 20px;
  }
  footer .info .contact-links {
    margin-top: 10px;
  }
}
@media screen and (max-width: 750px) {
  main .projects {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px 10px;
  }
}
@media screen and (max-width: 500px) {
  header .about-me {
    box-shadow: 4px 6px 8px #9567e0;
  }
  header .about-me p {
    text-align: left;
  }
  main .tech h1 {
    font-size: 14px;
  }
  main .tech .list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }
  footer .footer-img {
    max-width: 250px;
    min-height: auto;
  }
}/*# sourceMappingURL=style.css.map */