* {
  margin: 0;
  padding: 0;
}

body {
  /*padding: 40px 100px;*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: #d6d6d6;
  font-family: Roboto, sans-serif;
}

header {
  background-color: rgba(52, 199, 179, 0.5019607843);
  display: flex;
  justify-content: center;
  align-items: center;
  /*max-width: 1200px;*/
  padding: 40px 300px;
  gap: 10px;
}
header img {
  max-width: 220px;
  min-height: auto;
}
header .about-me {
  background-color: #d6d6d6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px 80px;
  box-shadow: 5px 5px 10px rgb(110, 110, 110);
  text-align: justify;
  font-size: 20px;
  border-radius: 2%;
}
header .about-me h1 {
  font-family: Oxygen, sans-serif;
  text-decoration: underline;
}
header .about-me .links {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}
header .about-me .links i {
  font-size: 32px;
}

img {
  border-radius: 2%;
}

a, a:visited {
  color: black;
  text-decoration: none;
  transition: transform 0.3s ease-in-out;
}

a:hover {
  transform: scale(1.2);
}

main {
  padding: 40px 100px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  transition: transform 1s ease-in-out;
}
main h1 {
  font-family: Oxygen, sans-serif;
}
main .projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}
main .projects .project {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 300px;
  height: auto;
  background-color: rgba(70, 173, 159, 0.5019607843);
  box-shadow: 5px 10px 10px rgb(110, 110, 110);
  border-radius: 2%;
  padding: 20px;
}
main .projects .project .project-img {
  max-width: 300px;
  height: 140px;
}
main .projects .project .project-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px;
  gap: 10px;
}
main .projects .project .project-info .name {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .projects .project .project-info .name h3 {
  font-family: Oxygen, sans-serif;
  font-size: 28px;
}
main .projects .project .project-info .name .project-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
main .projects .project .project-info .name .project-links i {
  font-size: 28px;
}
main .projects .project .project-info .name .project-links img {
  width: 28px;
  height: 32px;
}
main .projects .project .project-info .description {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: justify;
  font-size: 16px;
}

footer {
  padding: 20px 100px;
  background-color: rgba(67, 219, 199, 0.5019607843);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 250px;
}
footer .info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  gap: 10px;
}
footer .info h1 {
  font-family: Oxygen, sans-serif;
  text-decoration: underline;
  font-size: 32px;
}
footer .info p {
  font-size: 20px;
}
footer .info .email {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 4px;
}
footer .info .email img {
  max-width: 32px;
  min-height: auto;
}
footer .info .contact-links {
  margin-top: 40px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
}
footer .info .contact-links i {
  font-size: 48px;
}
footer img {
  max-width: 400px;
  min-height: auto;
}/*# sourceMappingURL=style.css.map */