$roboto: Roboto, sans-serif;
$oxygen: Oxygen, sans-serif;
$background: #06114f;
$background-read: #fff;
$background-header: #782cf180;
$background-project: #782cf180;
$background-footer: #782cf180;
$safiro: #f7a579;
$purple: #9567e0;
$celeste: #56b6c4;

* {
    margin: 0;
    padding: 0;
}

body {
    /*padding: 40px 100px;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: $background;
    font-family: $roboto;
    color: #fff;
}

header {
    background-color: $background-header;
    display: flex;
    justify-content: center;
    align-items: center;
    /*max-width: 1200px;*/
    padding: 40px 250px;
    gap: 10px;

    img {
        max-width: 300px;
        min-height: auto;
        aspect-ratio: 1/1;
    }

    .about-me {
        background-color: $background;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        padding: 20px 80px;
        box-shadow: 14px 12px 20px $purple;
        text-align: justify;
        font-size: 20px;
        border-radius: 2%;

        h1 {
            font-family: $oxygen;
            text-decoration: underline;
        }

        .links {
            width: 100%;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            gap: 10px;

            i {
                font-size: 32px;
            }
        }

        span {
            font-weight: bold;
        }
    }
}

img {
    border-radius: 2%;
}

a, a:visited {
    color: rgb(255, 255, 255);
    text-decoration: none;
    transition: transform 0.3s ease-in-out;
}

a:hover {
    transform: scale(1.2);
}

main {
    padding: 40px 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    transition: transform 1s ease-in-out;

    h1 {
        font-family: $oxygen;
    }

    .tech {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 10px;

        .list {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            gap: 20px;
            font-size: 48px;
        }
    }

    .projects {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 40px;

        .project {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            max-width: 300px;
            height: auto;
            background-color: $background-project;
            box-shadow: 1px 1px 20px $purple;
            border-radius: 2%;
            padding: 20px;

            .project-img {
                max-width: 300px;
                height: 140px;
            }

            .project-info {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 100%;
                padding: 10px;
                gap: 10px;

                .name {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    h3 {
                        font-family: $oxygen;
                        font-size: 28px;
                    }

                    .project-links {

                        display: flex;
                        justify-content: center;
                        align-items: center;
                        gap: 20px;

                        i {
                            font-size: 28px;
                        }

                        img {
                            width: 28px;
                            height: 32px;
                            filter: invert(95%) sepia(0%) saturate(7500%) hue-rotate(325deg) brightness(106%) contrast(100%);
                        }
                    }
                }

                .description {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-align: justify;
                    font-size: 16px;
                }
            }
        }
    }
}

footer {
    padding: 20px 100px;
    background-color: $background-footer;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 250px;

    .footer-img {
        max-width: 400px;
        min-height: auto;
        box-shadow: 8px 11px 17px $purple;
    }

    .info {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
        gap: 10px;

        h1 {
            font-family: $oxygen;
            text-decoration: underline;
            font-size: 32px;
        }

        p {
            font-size: 20px;
        }

        .email {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 4px;

            img {
                max-width: 32px;
                min-height: auto;
                filter: invert(95%) sepia(0%) saturate(7500%) hue-rotate(325deg) brightness(106%) contrast(100%);
            }
        }

        .contact-links {
            margin-top: 40px;
            width: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 30px;
    
            i {
                font-size: 48px;
            }
        }
    }
}

@media screen and (max-width: 1500px) {
    header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 40px 200px;
    }
}

@media screen and (max-width: 1200px) {

    header {

        padding: 40px 150px;

        .about-me {
            padding: 10px 40px;
            font-size: 18px;

            h1 {
                font-size: 22px;
            }
        }
    }

    main {
        .projects {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

@media screen and (max-width: 1000px) {

    footer {
        padding: 20px 80px;
        gap: 150px;
        .footer-img {
            max-width: 300px;
            min-height: auto;
        }
    }

}

@media screen and (max-width: 800px) {

    header {

        padding: 10px 40px;

        img {
            max-width: 250px;
            min-height: auto;
        }

        .about-me {
            padding: 10px 40px;
            font-size: 16px;

            h1 {
                font-size: 20px;
            }
        }
    }

    main {

        h1 {
            font-size: 20px;
        }
    }

    footer {
        .info {
            .contact-links {
                margin-top: 10px
            }  
        }
    }

}

@media screen and (max-width: 750px) {

    main {
        .projects {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
        }
    }

    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
        padding: 10px 10px;
    }

}

@media screen and (max-width: 500px) {

    header {
        .about-me {
            box-shadow: 4px 6px 8px $purple;
            p {
                text-align: left;
            }
        }
    }

    main {
        .tech {
            
            h1 {
                font-size: 14px;
            }

            .list {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                justify-items: center;
            }
        }
    }

    footer {
        .footer-img {
            max-width: 250px;
            min-height: auto;
        }
    }

}